name: multi_screen_layout
description: A collection of Widgets that make multi screen user experiences easy to build
version: 0.2.0
homepage: https://github.com/MisterJimson/multi_screen_layout

environment:
  sdk: ">=2.7.0 <3.0.0"
  flutter: ">=1.22.0 <2.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      android:
        package: com.jrai.multi_screen_layout
        pluginClass: MultiScreenLayoutPlugin